<table class="table table-hover admin">
  <thead>
    <tr>
      <th>ID</th>
      <th>Preview</th>
      <th>When</th>
      <th>Email</th>
      <th>URL</th>
      <th>Amount</th>
      <th>Notes</th>
      <th>Status</th>
      <th>Notified?</th>
    </tr>
  </thead>
  <tbody>
    {{#each queue}}
      <tr class="{{status}}">
        <td>{{id}}</td>
        <td><img src="{{thumbnail}}" /></td>
        <td data-livestamp="{{prepareTime timestamp}}"></td>
        <td>{{email}}</td>
        <td><a href="{{url}}">{{url}}</a></td>
        <td>{{amount}}</td>
        <td>{{notes}}</td>
        <td>
          <form
            role="form"
            class="form-inline"
            method="post"
            action="/admin/queue/{{id}}/?_method=PATCH">
            <select name="status" class="{{status}}">
              {{#each possibleStatuses}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <button type="submit" class="btn btn-default btn-xs">Update</button>
          </form>
        </td>
        <td>
          {{#if notified}}
            Yes
          {{else}}
            <form
              role="form"
              class="form-inline"
              method="post"
              action="/admin/notify/{{id}}">
              <button type="submit" class="btn btn-default btn-xs">
                Notify
              </button>
            </form>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script type="text/javascript" src="/javascripts/admin.js"></script>
