<form action="/admin/queue?_method=DELETE" method="post">
  <input type="submit" value="Clear Queue" />
</form>


{{#if queue}}
  <table>
    <thead>
      <tr>
        <th>When</th>
        <th>Email</th>
        <th>URL</th>
        <th>Status</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      {{#each queue}}
        <tr>
          <form action="/admin/queue/{{id}}/?_method=PATCH" method="post">
            <td>{{timestamp}}</td>
            <td>{{email}}</td>
            <td>{{url}}</td>
            <td>
              <select name="status">
                {{#each ../possibleStatuses}}
                  {{#equal ../status this}}
                    <option value="{{this}}" selected >{{this}}</option>
                  {{else}}
                    <option value="{{this}}">{{this}}</option>
                  {{/equal}}
                {{/each}}
              </select>
            </td>
            <td><input type="submit" value="Update" /></td>
          </form>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  Queue empty!
{{/if}}
