extends layout

block content
  h1 Print Queue Admin
  if message
    p.alert.msg= message
  if errors && errors.length > 0
    each msg in errors
      p.alert.error= msg
  form(action='/admin/queue?_method=DELETE', method='post')
    input(type='submit', value='Clear Queue')
  ul
    each item in queue
      li.queue #{item.id}: #{item.url} for #{item.email} at #{item.timestamp}
        form(action="/admin/queue/#{item.id}?_method=PATCH", method='post')
          if item.queued
            input(type='hidden', name='queued', value='')
            input(type='submit', value='Unqueue item')
          else
            input(type='hidden', name='queued', value='true')
            input(type='submit', value='Queue item')
        form(action="/admin/queue/#{item.id}?_method=DELETE", method='post')
          input(type='submit', value='Delete item')
