{{#if queue}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>When</th>
        <th>Email</th>
        <th>URL</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each queue}}
        <tr>
          <td data-livestamp="{{math timestamp '/' '1000'}}"></td>
          <td>{{email}}</td>
          <td>{{url}}</td>
          <td class="update">
            <form action="/admin/queue/{{id}}/?_method=PATCH" method="post">
            <select name="status">
              {{#each ../possibleStatuses}}
                {{#equal ../status this}}
                  <option value="{{this}}" selected >{{this}}</option>
                {{else}}
                  <option value="{{this}}">{{this}}</option>
                {{/equal}}
              {{/each}}
            </select>
            <input type="submit" value="Update" />
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  Queue empty!
{{/if}}
