{{#if queue}}
  <table class="table table-hover admin">
    <thead>
      <tr>
        <th>When</th>
        <th>Email</th>
        <th>URL</th>
        <th>Status</th>
        <th>Notified?</th>
      </tr>
    </thead>
    <tbody>
      {{#each queue}}
        <tr>
          <td data-livestamp="{{math timestamp '/' '1000'}}"></td>
          <td>{{email}}</td>
          <td>{{url}}</td>
          <td class="update">
            <form class="form-inline"
                  role="form"
                  action="/admin/queue/{{id}}/?_method=PATCH"
                  method="post">
              <select class="form-control input-sm {{status}}" name="status">
                {{#each ../possibleStatuses}}
                  {{#equal ../status this}}
                    <option value="{{this}}" selected >{{this}}</option>
                  {{else}}
                    <option value="{{this}}">{{this}}</option>
                  {{/equal}}
                {{/each}}
              </select>
              <button type="submit" class="btn btn-default btn-xs">Update</button>
            </form>
          </td>
          <td>
            {{#if notified}}
              Yes
            {{else}}
              <form class="form-inline" role="form" action="/admin/notify/{{id}}" method="post">
                <button type="submit" class="btn btn-default btn-xs">Notify</button>
              </form>
            {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  Queue empty!
{{/if}}
