extends layout

block content
  h1 Print Queue
  if message
    p.alert.msg= message
  if errors && errors.length > 0
    each msg in errors
      p.alert.error= msg
  form(action='/', method='post')
    div.form-group
      label(for='url') STL URL
      input(type='text', name='queue[url]' placeholder='http://www.thingiverse.com/download:12345')
    div.form-group
      label(for='email') Your email address
      input(type='text', name='queue[email]' placeholder='example@example.com')
    div.form-group
      input(type='submit', value='Add to queue')
  h2 Current queue
  if queue.length > 0
    ul
      each item in queue
        li.queue
          a(href=item.url)= item.url
          form.delete(action="/requestToken", method='post')
            input(type='hidden', name='itemId', value=item.id)
            input(type='hidden', name='user', value=item.email)
            input.delete(type='submit' value='Delete' title='This requires access to the email this item was queued with')
  else
    p.alert.queue Queue is empty
