<div class="user-well">
  {{#if email}}
    <a href="/logout" alt="Sign out">Sign out</a>
  {{ else }}
    <a href="/login" alt="Sign In">Sign In</a>
  {{/if}}
</div>

{{> queueItem }}

<h2>Current Queue</h2>
{{#if queue}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>When</th>
        <th>URL</th>
        <th>Status</th>
        {{#if ../email}}
          <th></th>
          <th></th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each queue}}
        <tr>
          <td data-livestamp="{{math timestamp '/' '1000'}}"></td>
          <td>{{url}}</td>
          <td>{{status}} </td>
          {{#if ../../email}}
            <td>
              {{#equal ../../email email}}
                {{#unless queued}}
                  <a href="/queue/{{id}}" class="btn btn-xs btn-info" >Edit</a>
                {{/unless}}
              {{/equal }}
            </td>
            <td>
              {{#equal ../../email email}}
                {{#unless queued}}
                  <form class="form-inline"
                        role="form"
                        action="/queue/{{id}}?_method=DELETE"
                        method="post">
                    <button type="submit" class="btn btn-danger btn-xs">&times;</button>
                  </form>
                {{/unless}}
              {{/equal }}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  Queue empty!
{{/if}}
