<form action="/" method="post">
  <div class="form-group">
    <label for="queue[url]">STL URL</label>
    <input type="text"
           name="queue[url]"
           placeholder="http://thingiverse.com/download:1234" />
  </div>
  <div class="form-group">
    <label for="queue[email]">Email address</label>
    <input type="text"
           name="queue[email]"
           placeholder="example@example.com" />
  </div>
  <div class="form-group">
    <input type="submit" value="Add to queue" />
  </div>
</form>

<h2>Current Queue</h2>
{{#if queue}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>When</th>
        <th>URL</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each queue}}
        <tr>
          <td data-livestamp="{{math timestamp '/' '1000'}}"></td>
          <td>{{url}}</td>
          <td>{{status}} </td>
          <td>
            {{#unless queued}}
              <form class="delete" action="/requestToken" method="post">
                <input type="hidden" name="itemId" value="{{id}}" />
                <input type="hidden" name="user" value="#{{email}}" />
                <input type="submit"
                       value="Delete" 
                      class="btn-danger"
                       title="This requires access to the email this was queued with" />
              </form>
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  Queue empty!
{{/if}}
